$imgAPI-agency0: 'https://via.placeholder.com/964x723/1071ef/FFFFFF';
$imgAPI-agency1: 'https://via.placeholder.com/1280x825/99d8ff/FFFFFF';
$imgAPI-agency2: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency3: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency4: 'https://via.placeholder.com/490x327/ffc999/FFFFFF';
$imgAPI-agency5: 'https://via.placeholder.com/331x690/fdcc0c/FFFFFF';
$imgAPI-agency6: 'https://via.placeholder.com/521x309/4a0cfd/FFFFFF';
$imgAPI-agency7: 'https://via.placeholder.com/521x309/ffe55b/FFFFFF';
$imgAPI-agency8: 'https://via.placeholder.com/713x309/79c0ff/FFFFFF';
$imgAPI-agency9: 'https://via.placeholder.com/711x693/52596b/FFFFFF';

$imgAPI-architect0: 'https://via.placeholder.com/1200x705/0fad41/FFFFFF';
$imgAPI-architect1: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect2: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect3: 'https://via.placeholder.com/270x320/189a96/FFFFFF';
$imgAPI-architect4: 'https://via.placeholder.com/700x462/8e8e8e/FFFFFF';
$imgAPI-architect5: 'https://via.placeholder.com/700x462/52596b/FFFFFF';
$imgAPI-architect6: 'https://via.placeholder.com/700x463/8e8e8e/FFFFFF';
$imgAPI-architect7: 'https://via.placeholder.com/700x463/52596b/FFFFFF';
$imgAPI-architect8: '/images/architect/home.png';
$imgAPI-architect9: '/images/architect/architect_team.png';
$imgAPI-architect10: '/images/architect/architect_team.png';
$imgAPI-architect11: '/images/architect/architect_team.png';
$imgAPI-architect12: '/images/architect/architect_team.png';
$imgAPI-architect13: '/images/architect/architect_team.png';
$imgAPI-architect14: '/images/architect/architect_team.png';
$imgAPI-architect15: 'https://via.placeholder.com/1200x801/9a7a4f/FFFFFF';

$imgAPI-crypto0: '/images/crypto/hexa-orange.png';
$imgAPI-crypto1: '/images/crypto/hexa-green.png';
$imgAPI-crypto2: '/images/crypto/hexa-orange.png';
$imgAPI-crypto3: '/images/crypto/hexa-green.png';
$imgAPI-crypto4: 'https://via.placeholder.com/600x341/cac142/FFFFFF';
$imgAPI-crypto5: 'https://via.placeholder.com/1280x677/204473/FFFFFF';
$imgAPI-crypto6: '/images/crypto/crypto_laptop.png';

$imgAPI-fashion0: 'https://via.placeholder.com/1280x854/000000/FFFFFF';
$imgAPI-fashion1: 'https://via.placeholder.com/700x522/9fa5ad/FFFFFF';
$imgAPI-fashion2: 'https://via.placeholder.com/700x522/ada29f/FFFFFF';
$imgAPI-fashion3: 'https://via.placeholder.com/700x522/9fa5ad/FFFFFF';
$imgAPI-fashion4: 'https://via.placeholder.com/700x522/ada29f/FFFFFF';
$imgAPI-fashion5: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion6: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion7: 'https://via.placeholder.com/300x372/fdffa4/757575';
$imgAPI-fashion8: 'https://via.placeholder.com/320x370/ffa4a4/FFFFFF';
$imgAPI-fashion9: 'https://via.placeholder.com/700x360/ffd7a4/757575';
$imgAPI-fashion10: 'https://via.placeholder.com/320x370/d0d4e6/757575';
$imgAPI-fashion11: '/images/fashion/shoes.png';
$imgAPI-fashion12: '/images/fashion/shoes.png';
$imgAPI-fashion13: '/images/fashion/man.png';
$imgAPI-fashion14: '/images/fashion/shoes.png';
$imgAPI-fashion15: '/images/fashion/shoes.png';
$imgAPI-fashion16: '/images/fashion/woman.png';
$imgAPI-fashion17: '/images/fashion/bag.png';
$imgAPI-fashion18: '/images/fashion/bag.png';
$imgAPI-fashion19: '/images/fashion/bag.png';
$imgAPI-fashion20: '/images/fashion/bag.png';
$imgAPI-fashion21: '/images/fashion/bag.png';
$imgAPI-fashion22: '/images/fashion/bag.png';
$imgAPI-fashion23: '/images/fashion/bag.png';
$imgAPI-fashion24: '/images/fashion/bag.png';
$imgAPI-fashion25: '/images/fashion/bag.png';
$imgAPI-fashion26: 'https://via.placeholder.com/640x427/ffd7a4/757575';
$imgAPI-fashion27: 'https://via.placeholder.com/640x427/f54209/FFFFFF';
$imgAPI-fashion28: 'https://via.placeholder.com/640x427/bbe5ff/757575';
$imgAPI-fashion29: 'https://via.placeholder.com/640x427/bbffbe/757575';
$imgAPI-fashion30: 'https://via.placeholder.com/640x427/f8bbff/757575';
$imgAPI-fashion31: 'https://via.placeholder.com/640x427/ac59b5/FFFFFF';
$imgAPI-fashion32: 'https://via.placeholder.com/640x427/35282d/757575';
$imgAPI-fashion33: 'https://via.placeholder.com/640x427/2d803f/FFFFFF';
$imgAPI-fashion34: 'https://via.placeholder.com/640x427/1d3350/FFFFFF';
$imgAPI-fashion35: 'https://via.placeholder.com/516x462/b4c532/757575';

$imgAPI-hosting0: '/images/hosting/wp.png';
$imgAPI-hosting1: '/images/hosting/wp.png';
$imgAPI-hosting2: '/images/hosting/wp.png';
$imgAPI-hosting3: 'https://via.placeholder.com/1280x868/204473/757575';
$imgAPI-hosting4: '/images/hosting/monitor.png';

$imgAPI-mobile0: '/images/mobile/mobile_banner.png';
$imgAPI-mobile1: '/images/mobile/widget-top.png';
$imgAPI-mobile2: '/images/mobile/widget-left.png';
$imgAPI-mobile3: '/images/mobile/widget-right.png';
$imgAPI-mobile4: '/images/mobile/mobile_feature.png';
$imgAPI-mobile5: '/images/mobile/mobile_feature2.png';
$imgAPI-mobile6: 'https://via.placeholder.com/536x302/fbd2ff/757575';
$imgAPI-mobile7: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile8: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile9: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile10: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile11: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile12: 'https://via.placeholder.com/518x1120/d2ffff/757575';
$imgAPI-mobile13: 'https://via.placeholder.com/518x1120/fbd2ff/757575';
$imgAPI-mobile14: '/images/mobile/widget_screen1.png';
$imgAPI-mobile15: '/images/mobile/widget_screen2.png';
$imgAPI-mobile16: '/images/mobile/widget_screen3.png';
$imgAPI-mobile17: '/images/mobile/widget_screen4.png';
$imgAPI-mobile18: '/images/mobile/widget_screen5.png';
$imgAPI-mobile19: '/images/mobile/widget_screen6.png';
$imgAPI-mobile20: '/images/mobile/widget_screen7.png';
$imgAPI-mobile21: '';

$imgAPI-profile0: 'https://via.placeholder.com/1080x497/ffb2ad/757575';
$imgAPI-profile1: 'https://via.placeholder.com/270x345/dedede/757575';
$imgAPI-profile2: '/images/profile/pc.jpg';
$imgAPI-profile3: 'https://via.placeholder.com/400x400/4e5467/FFFFFF';
$imgAPI-profile4: 'https://via.placeholder.com/400x266/2f5ef3/FFFFFF';
$imgAPI-profile5: 'https://via.placeholder.com/400x266/dedafd/757575';
$imgAPI-profile6: 'https://via.placeholder.com/400x400/ea6f23/FFFFFF';
$imgAPI-profile7: 'https://via.placeholder.com/400x400/b79136/FFFFFF';
$imgAPI-profile8: 'https://via.placeholder.com/400x266/94fbf7/757575';
$imgAPI-profile9: '/images/profile/pc-dark.jpg';

$imgAPI-saas0: 'https://via.placeholder.com/1000x625/f2c9ff/757575';
$imgAPI-saas1: 'https://via.placeholder.com/1472x637/5abce4/FFFFFF';
$imgAPI-saas2: 'https://via.placeholder.com/1000x625/e6f8ff/757575';
$imgAPI-saas3: '/images/saas/app-counter.png';
$imgAPI-saas4: 'https://via.placeholder.com/1000x680/b44fd4/FFFFFF';
$imgAPI-saas5: 'https://via.placeholder.com/1000x680/00a7e8/FFFFFF';
$imgAPI-saas6: 'https://via.placeholder.com/1000x680/e91e63/FFFFFF';
$imgAPI-saas7: '/images/saas/desktop_illustration.png';

$imgAPI-education0: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education1: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education2: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education3: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education4: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education5: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education6: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education7: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education8: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education9: "https://via.placeholder.com/270x320/189a96/FFFFFF";
$imgAPI-education10: "https://via.placeholder.com/364x258/189a96/FFFFFF";
$imgAPI-education11: "https://via.placeholder.com/456x304/36a2c9/FFFFFF";
$imgAPI-education12: "https://via.placeholder.com/237x158/98ad25/FFFFFF";
$imgAPI-education13: "https://via.placeholder.com/317x211/d03c3c/FFFFFF";
$imgAPI-education14: "https://via.placeholder.com/700x462/8e8e8e/FFFFFF";
$imgAPI-education15: "https://via.placeholder.com/700x462/52596b/FFFFFF";
$imgAPI-education16: "https://via.placeholder.com/700x463/8e8e8e/FFFFFF";
$imgAPI-education17: "https://via.placeholder.com/700x463/52596b/FFFFFF";
$imgAPI-education18: "https://via.placeholder.com/1200x801/9a7a4f/FFFFF";

$imgAPI-medical0: "https://via.placeholder.com/570x562/1071ef/FFFFFF";
$imgAPI-medical1: "https://via.placeholder.com/1280x825/99d8ff/FFFFFF";
$imgAPI-medical2: "https://via.placeholder.com/490x327/ffc999/FFFFFF";
$imgAPI-medical3: "https://via.placeholder.com/490x327/ffc999/FFFFFF";
$imgAPI-medical4: "https://via.placeholder.com/490x327/ffc999/FFFFFF";
$imgAPI-medical5: "https://via.placeholder.com/490x327/ffc999/FFFFFF";
$imgAPI-medical6: "https://via.placeholder.com/490x327/ffc999/FFFFFF";
$imgAPI-medical7: "/images/avatars/pp_girl4.svg";
$imgAPI-medical8: "/images/avatars/pp_girl5.svg";
$imgAPI-medical9: "/images/avatars/pp_girl.svg";
$imgAPI-medical10: "/images/avatars/pp_boy3.svg";
$imgAPI-medical11: "/images/avatars/pp_boy4.svg";
$imgAPI-medical12: "/images/avatars/pp_boy5.svg";
$imgAPI-medical13: "https://via.placeholder.com/964x723/1071ef/FFFFF";

$imgAPI-movie0: "https://via.placeholder.com/1280x854/8d815b/FFFFFF";
$imgAPI-movie1: "https://via.placeholder.com/300x440/ffa4a4/757575";
$imgAPI-movie2: "https://via.placeholder.com/300x440/74b7fa/757575";
$imgAPI-movie3: "https://via.placeholder.com/300x440/ffa4a4/757575";
$imgAPI-movie4: "https://via.placeholder.com/300x440/74b7fa/757575";
$imgAPI-movie5: "https://via.placeholder.com/300x440/ffa4a4/757575";
$imgAPI-movie6: "https://via.placeholder.com/320x370/ffa4a4/FFFFFF";
$imgAPI-movie7: "https://via.placeholder.com/700x360/ffd7a4/757575";
$imgAPI-movie8: "https://via.placeholder.com/320x370/d0d4e6/757575";
$imgAPI-movie9: "/images/movie/bag.png";
$imgAPI-movie10: "/images/movie/bag.png";
$imgAPI-movie11: "/images/movie/man.png";
$imgAPI-movie12: "/images/movie/bag.png";
$imgAPI-movie13: "/images/movie/bag.png";
$imgAPI-movie14: "/images/movie/woman.png";
$imgAPI-movie15: "https://via.placeholder.com/533x799/fdffa4/75757";

$imgAPI-showcase0: '/images/showcase/banner.jpg';
$imgAPI-showcase1: 'https://via.placeholder.com/476x638/2196F3/FFFFFF';
$imgAPI-showcase2: 'https://via.placeholder.com/476x638/4CAF50/FFFFFF';
$imgAPI-showcase3: 'https://via.placeholder.com/476x638/FFA000/FFFFFF';
$imgAPI-showcase4: 'https://via.placeholder.com/476x638/546E7A/FFFFFF';
$imgAPI-showcase5: 'https://via.placeholder.com/476x638/03A9F4/FFFFFF';
$imgAPI-showcase6: 'https://via.placeholder.com/476x638/673AB7/FFFFFF';
$imgAPI-showcase7: 'https://via.placeholder.com/476x638/EC407A/FFFFFF';
$imgAPI-showcase8: 'https://via.placeholder.com/476x638/9C27B0/FFFFFF';