.root {
  position: relative;
  > div {
    @include breakpoints-down(md) {
      padding: 0
    }
  }
}

.props {
  width: 240px;
  height: 240px;
  &:focus {
    outline: none
  }
}

.floating-title {
  text-align: center;
  padding: spacing(0, 2);
  @include breakpoints-up(md) {
    position: absolute;
    @include left($spacing8);
    top: $spacing12;
    width: 240px;
  }
}

.carousel {
  position: relative;
  :deep(.slick-list) {
    overflow: visible
  }
  @include breakpoints-down(sm) {
    margin-top: $spacing3
  }
}

.item {
  padding: spacing(0, 1);
  direction: ltr;
  &:focus {
    outline: none
  }
}
.link {
  padding: 0;
  text-transform: none;
  font-weight: $font-regular;
}
.nav {
  position: absolute;
  top: 42%;
  width: 36px;
  height: 36px;
  padding: 0px;
  min-width: 0px;
  z-index: 3;
  @include palette-background-paper;
  border: none;
  box-shadow: none;
  .v-locale--is-rtl & {
    transform: scale(2.5) rotate(180deg)
  }
  .v-locale--is-ltr & {
    transform: scale(2.5) rotate(0deg)
  }
  @include breakpoints-down(sm) {
    display: none
  }
  i {
    transform: scale(1.6);
    @include palette-text-primary;
  }
}

.prev {
  @include left(6px)
}
.next {
  @include right(6px)
}

.item-props-first {
  div {
    .v-locale--is-rtl & {
      width: 350px 
    }
    .v-locale--is-ltr & {
      width: 400px 
    }
    @media (max-width: 1500px) {
      .v-locale--is-rtl & {
        width: 500px 
      }
      .v-locale--is-ltr & {
        width: 300px 
      }
    }
  }
  @include breakpoints-down(sm) {
    display: none !important
  }
}
.item-props-last {
  div {
    .v-locale--is-rtl & {
      width: 350px 
    }
    .v-locale--is-ltr & {
      width: 400px 
    }
    @media (max-width: 1500px) {
      .v-locale--is-rtl & {
        width: 300px 
      }
      .v-locale--is-ltr & {
        width: 500px 
      }
    }
  }
  @include breakpoints-down(sm) {
    display: none !important
  }
}
