.page-wrap {
  text-align: center;
  background: repeat-x center 140%;
  @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
  @include use-theme(background-image, url(/images/hosting/cloud_bottom_light.svg), url(/images/hosting/cloud_bottom_dark.svg));
  min-height: 100%;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 88px 40px 71px 40px;
  &.contact {
    background-position: center 125%
  }
  @include breakpoints-up(md) {
    display: flex;
  }
  @include breakpoints-down(sm) {
    padding: spacing(4, 0)
  }
  a {
    @include use-theme(color, $palette-primary-dark, $palette-primary-light);
    text-transform: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: $font-medium;
    @include breakpoints-down(xs) {
      font-size: 14px;
    }
  }
}

.inner-wrap {
  @include text-align(left)
}

.full-form-wrap {
  @include palette-background-paper;
  padding: $spacing9 0;
  overflow: hidden;
  @include breakpoints-down(xs) {
    padding-top: $spacing4
  }
}

.v-card.form-box {
  border-radius: 10px !important;
  overflow: hidden;
  background: transparent;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.05);
  .v-theme--light & {
    background: rgba(255, 255, 255, 0.7)
  }
  .v-theme--dark & {
    background: rgba(66, 66, 66, 0.7)
  }
  @include breakpoints-down(xs) {
    box-shadow: none
  }
}

.desc {
  text-align: center;
  padding: spacing(0, 10);
  @include breakpoints-down(xs) {
    padding: spacing(0, 2)
  }
}

.form {
  @include text-align(left);
  position: relative;
  margin-top: $spacing8;
  padding: spacing(0, 15, 10);
  @include breakpoints-down(sm) {
    padding: spacing(0, 4, 10)
  }
  @include breakpoints-down(xs) {
    padding: $spacing2;
    margin-top: $spacing2
  }
}

.form-helper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include breakpoints-down(xs) {
    flex-direction: column;
    align-items: center;
  }
}

.btn-area {
  justify-content: space-between;
  @include breakpoints-up(lg) {
    margin-top: $spacing3;
    display: flex;
  }
  @include breakpoints-down('md') {
    button {
      margin-top: $spacing4;
      width: 100%
    }
  }
  @include breakpoints-down(xs) {
    margin-top: $spacing2;
    margin-bottom: $spacing5;
  }
  .v-btn.v-btn--size-large {
    margin-top: $spacing2;
    min-height: 48px;
    min-width: 180px;
  }
  span {
    a.link {
      text-decoration: none !important;
      color: $palette-primary-main
    }
  }
  &.flex {
    display: flex;
    justify-content: space-between;
    @include breakpoints-down(sm) {
      display: block
    }
  }
}

.right-icon {
  @include margin-left($spacing1)
}

.check {
  svg {
    fill: $palette-secondary-main
  }
}

.decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  @include left(0);
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
  svg {
    fill: $palette-secondary-main;
    opacity: 0.2;
    position: fixed;
    top: 0;
  }
}

.left-deco {
  left: -400px;
  right: auto;
  width: 1200px;
  height: 1500px;
  transform-origin: top left;
  @include breakpoints-up(md) {
    transform: scale(0.8)
  }
}

.right-deco {
  left: auto;
  right: 0;
  height: 1500px;
  transform-origin: top right;
  @include breakpoints-up(md) {
    transform: scale(0.8)
  }
}

.auth-frame {
  display: block;
  position: relative;
  @include breakpoints-down(sm) {
    @include palette-background-paper;
  }
  .v-row > div {
    padding: 0
  }
}

.greeting {
  padding: spacing(15, 6);
  height: 100%;
  h6 {
    font-weight: $font-medium
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  @include breakpoints-up(sm) {
    margin-bottom: $spacing5;
  }
  &.logo-header {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10
  }
  img {
    width: 64px;
    @include margin-right($spacing1)
  }
  p, span {
    @include palette-text-secondary;
    font-size: 24px;
    font-weight: $font-medium;
    padding-bottom: 4px;
    text-transform: lowercase;
    display: block;
    padding-bottom: 0;
    margin-bottom: 0
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $spacing5;
  a {
    margin-top: $spacing2
  }
  @include breakpoints-down(sm) {
    margin-top: $spacing2;
    justify-content: center;
    a {
      display: none
    }
  }
}

.form-wrap {
  @include palette-background-paper;
  position: relative;
  padding: $spacing2;
  padding-bottom: $spacing10;
  min-height: 760px;
  overflow: hidden;
  .frm-deco {
    @include left(58.333333%);
    transform: translateX(-72%);
    bottom: -105px
  }
  @include breakpoints-up(sm) {
    padding: $spacing5
  }
  @include breakpoints-up(lg) {
    padding: $spacing8
  }
  @include breakpoints-down(xs) {
    padding: spacing(0, 3)
  }
}

.socmed-side-login {
  display: flex;
  justify-content: space-around;
  @include breakpoints-down(md) {
    justify-content: center
  }
  @include breakpoints-down(xs) {
    display: block;
  }
  > * {
    color: $palette-common-white;
    width: 160px;
    padding: $spacing1;
    @include breakpoints-down(md) {
      margin: 0 4px;
      width: 140px;
    }
    @include breakpoints-down(xs) {
      margin: 0;
      margin-bottom: $spacing2;
      width: 100%
    }
  }
  i {
    color: $palette-common-white;
    @include margin-right($spacing1)
  }
}

.blue-btn {
  background: #28aae1 !important;
  &:hover {
    background: darken(#28aae1, 20%) !important
  }
}
.navi-btn {
  background: #3b579d !important;
  &:hover {
    background: darken(#3b579d, 20%) !important
  }
}
.red-btn {
  background: #dd493c !important;
  &:hover {
    background: darken(#dd493c, 20%) !important
  }
}
.separator {
  margin: 40px auto;
  max-width: 300px;
  min-width: 200px;
  text-align: center;
  position: relative;
  p {
    @include breakpoints-down(xs) {
      font-size: 12px
    }
  }
  &:before, &:after {
    content: "";
    border-top: 1px solid;
    @include use-theme(border-top-color, $light-text-hint, $dark-text-hint);
    top: 50%;
    position: absolute;
    width: 20%
  }
  &:before {
    left: 0
  }
  &:after {
    right: 0
  }
}

.form-control-label {
  :deep(.v-messages) {
    min-height: 0;
  }
  > div {
    @include margin-left(-12px);
    margin-top: 0
  }
}

.backtohome {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 20px;
  z-index: 4;
  border-radius: 50%;
  @include margin-left(20px);
  @include breakpoints-down(sm) {
    @include left(calc(50% - 40px));
    top: 40px;
    margin: 0
  }
  @include breakpoints-down('sm') {
    display: none
  }
  i {
    font-size: 32px;
    @include palette-text-secondary
  }
  > span i:first-child {
    opacity: 1;
    transition: opacity 0.3s ease
  }
  > span i:last-child {
    position: absolute;
    @include right(0);
    opacity: 0;
    transition: all 0.3s ease
  }
  &:hover {
    background: rgba(0, 0, 0, 0.05);
    > span i:first-child {
      opacity: 0;
    }
    > span i:last-child {
      @include right(30px);
      opacity: 1;
    }
  }
}

.frm-deco {
  bottom: -66px;
  position: absolute;
  @include left(50%);
  transform: translateX(-50%);
  width: 1280px;
  svg {
    width: 1280px;
    height: 190px;
    stroke: $palette-primary-main;
    fill: none
  }
}

.cloud-deco {
  position: absolute;
  top: 0%;
  @include left(0);
  overflow: hidden;
  height: 100%;
  width: 100%;
  :deep(svg) {
    @include use-theme(fill, $light-background-paper, $dark-background-paper);
  }
  @include breakpoints-down(sm) {
    display: none;
  }
}